.header {
  display: flex;
  width: 100%;
  padding: 0.5rem 1rem;

  .controls {
    display: flex;

    label {
      margin-left: 1rem;
      font-weight: 500;
      font-size: 0.75rem;
      display: flex;
      align-items: center;
      line-height: 1.75;

      input {
        margin-left: 0.5rem;
      }
    }
  }
}

.content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 25rem;

  .clock {
    font-size: 4rem;
    font-weight: 600;
  }
}