:host {
  display: flex;
  border: 1px solid #555;
  margin-bottom: 1rem;
}

.img {
  padding: 1rem;
  min-width: 10rem;
  max-width: 10rem;
}

.content {
  padding: 1rem 1rem 1rem 0;

  .title {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 0.75rem;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}