:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 10rem;
  padding-bottom: 3rem;
  overflow-x: hidden;
}

.form-wrapper {
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;

  h1 {
    margin-bottom: 2rem;
  }
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  label {
    min-width: 75px;
    margin-right: 1rem;
    text-align: right;
  }

  input {
    flex: 1 1 0%;
  }
}
