<div class="form-wrapper">
  <h1>Login</h1>
  <form action="." [formGroup]="form" (ngSubmit)="login()">
    <div class="form-row">
      <label for="username">Username:</label>
      <input
        type="text"
        name="username"
        id="username"
        autocomplete="username"
        placeholder="Username"
        formControlName="username"
      />
    </div>
    <div class="form-row">
      <label for="password">Password:</label>
      <input
        type="password"
        name="password"
        id="password"
        autocomplete="current-password"
        placeholder="Password"
        formControlName="password"
      />
    </div>
    <footer
      class="footer"
      *ngIf="componentStore.status$ | async as componentStatus"
    >
      <div class="error-wrapper">
        <p class="error" *ngIf="componentStatus.status === 'error'">
          {{ componentStatus.error?.message }}
        </p>
      </div>
      <button type="submit" [disabled]="componentStatus.status === 'busy'">
        Login
      </button>
    </footer>
  </form>
</div>
